---
layout: layouts/base.njk
---

<header
  class="td-header">
  {# https://gist.github.com/cecilemuller/3165474 #}
  <video class="td-header__media" autoplay muted playsinline loop="loop" poster="/_assets/img/tampa-devs-v2.webp">
    <source type="video/webm" src="/_assets/misc/TD_output_720_30p.webm">
      <source type="video/mp4" src="/_assets/misc/TD_output_720_30p.mp4"></video>
      <div class="td-header__container">
        <div class="td-header__container__logoGroup">
          <img src="/_assets/misc/logos/tampa-devs.svg" alt="Tampa Devs" class="td-header__logo"/>
          <hgroup>
            <h1>{{ basics.name }}</h1>
            <h2>{{ basics.tag }}</h2>
          </hgroup>
        </div>
        <div class="td-header__ctas">
          <a class="js-moveto" href="#meetup">Events</a>
          <a class="js-moveto" href="#slack">Join Chat</a>
          <a class="js-moveto" href="#newsletter">Newsletter</a>
        </div>
      </div>
    </header>
    <main class="container promo-container td-describer">
      <p>Tampa Devs is the
        <strong>fastest growing software development community</strong>
        in Tampa Bay.</p>
      <p>As a community-led nonprofit, our mission is to accelerate access to high-quality training and career opportunities
        in Tampa’s software industry. For free, and for everyone.</p>
      <p>We host monthly technical workshops from industry-leading companies including PwC, Microsoft, and more.</p>
    </main>
    <section class="container promo-container">
      {{ layoutContent | safe }}
    </section>
    <section
      class="container sponsor-container">
      {# Platinum Sponsor #}
      <h3>Platinum Sponsors</h3>
      <div class="sponsor-list sponsor-list__plat">
        {% for sponsor in sponsors | sort(false, false, 'name') %}
          {% if sponsor.type == "platinum" %}
            <a href="{{ sponsor.href }}" class="sponsor-item" target="_blank" rel="”noopener" noreferrer”>
              <img src="/_assets/misc/sponsors/{{ sponsor.logo }}" alt=""/>
            </a>
          {% endif %}
        {% endfor %}
      </a>
      <div class="sponsor-item">
        <img src="/_assets/misc/sponsors/tdevs_transparent_grey_svg.svg" alt=""/>
      </div>
      <div class="sponsor-item">
        <img src="/_assets/misc/sponsors/tdevs_transparent_grey_svg.svg" alt=""/>
      </div>
    </div>
    {# Gold Sponsor #}
    <h3>Gold Sponsors</h3>
    <div class="sponsor-list sponsor-list__gold">
      {% for sponsor in sponsors | sort(false, false, 'name') %}
        {% if sponsor.type == "gold" %}
          <a href="{{ sponsor.href }}" class="sponsor-item" target="_blank" rel="”noopener" noreferrer”>
            <img src="/_assets/misc/sponsors/{{ sponsor.logo }}" alt=""/>
          </a>
        {% endif %}
      {% endfor %}
    </a>
    <div class="sponsor-item">
      <img src="/_assets/misc/sponsors/tdevs_transparent_grey_svg.svg" alt=""/>
    </div>
    <div class="sponsor-item">
      <img src="/_assets/misc/sponsors/tdevs_transparent_grey_svg.svg" alt=""/>
    </div>
  </div>
  {# Silver Sponsor #}
  <h3>Silver Sponsors</h3>
  <div class="sponsor-list sponsor-list__silver">
    {% for sponsor in sponsors | sort(false, false, 'name') %}
      {% if sponsor.type == "silver" %}
        <a href="{{ sponsor.href }}" class="sponsor-item" target="_blank" rel="”noopener" noreferrer”>
          <img src="/_assets/misc/sponsors/{{ sponsor.logo }}" alt=""/>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <div class="sponsor-item">
    <img src="/_assets/misc/sponsors/tdevs_transparent_grey_svg.svg" alt=""/>
  </div>
  <div class="sponsor-item">
    <img src="/_assets/misc/sponsors/tdevs_transparent_grey_svg.svg" alt=""/>
  </div>
  <div class="sponsor-item">
    <img src="/_assets/misc/sponsors/tdevs_transparent_grey_svg.svg" alt=""/>
  </div>
  <div class="sponsor-button-wrapper">
    <a class="sponsor-button td-alert-banner" href="https://opencollective.com/tampadevs">🤝 Become a sponsor 🤝</a>
  </div>
</section>
