<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <title>{{ basics.name }}
    {% if title %}
      | {{ title }}
    {% endif %}
  </title>
  {% block css %}{% endblock %}
  {% include "blocks/googletagmanager.njk" %}
  <link rel="stylesheet" href="/_assets/css/style.css?v={{ data.buildRef }}" media="screen" type="text/css">
  <link rel="stylesheet" href="{{ "/_assets/css/aos.css" | url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/_assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/_assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/_assets/img/favicon/favicon-16x16.png">
  <link rel="mask-icon" href="/_assets/img/favicon/safari-pinned-tab.svg" color="#483ba4">
  <link rel="shortcut icon" href="/_assets/img/favicon/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="{{ basics.name }}">
  <meta name="application-name" content="{{ basics.name }}">
  <meta name="msapplication-TileColor" content="#483ba4">
  <meta name="theme-color" content="#ffffff">
  <meta property="og:title" content="{{ basics.name }}{% if title %} | {{ title }}{% endif %}">
  <meta property="og:description" content="{% if intro %}{{ intro }}{% else %}{{ basics.description }}{% endif %}">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_GB">
  <meta
    property="og:image"
    content="https://tampadevs.com{% if hero_img %}{{ hero_img }}{% else %}/_assets/img/tampa-devs-open-graph.webp{% endif
    %}">
  <meta property="og:url" content="{{ basics.url }}{{ page.url }}">
  <link rel="alternate" type="application/rss+xml" title="Tampa Devs Blog" href="/blog/feed.xml"/>
  <script src="{{ "/_assets/js/aos.js" | url }}"></script>

</head>
